html {
	font-size: 20px;
}

body {
	font-family: "Anton", sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 2rem;
}

header, footer {
	border-radius: 0.5rem;
        background-color: #333;
        color: white;
        padding: 1rem 2rem;
	h1 {
		font-size: 3rem;
	}
}



main {
	border: 0.1rem solid #333;
        background-color: white;
        padding: 2rem;
	border-radius: 0.5rem;
        margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

h1 {
        color: #0077cc;
}

h2 {
       font-size: 1rem;
}

a {
        color: #0077cc;
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

.header-navigation-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: left;
}

.header-navigation-menu li {
	margin: 0 1rem;
	font-size: 1rem;
	transform: scale(1.0);
	background-color: none;
}
.header-navigation-menu li:hover {
	transform: scale(1.2);
	background-color: #0077cc;
	a {
		color: white;
		text-decoration: none;
	}
}

.narratives-main-area {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2.5fr;
	gap: 0.5rem;
}
.narratives-left-panel {
	border: 0.1rem solid #333;
	background-color: white;
	border-radius: 0.5rem;
        margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	height: auto;
}
.narratives-left-panel li, .narratives-left-panel lu {
	list-style: none;
}
.narratives-right-panel {
	border: 0.1rem solid #333;
	background-color: white;
	border-radius: 0.5rem;
        margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

video {
	border: 0.1rem solid #333;
	width: 20rem;
	border-radius: 0.5rem;
}

.alert {
	border: 0.1rem solid #333;
	border-radius: 0.5rem;
	background-color: red;
	width: 100%;
	height: auto;
}
.alert h1 {
	color: white !important;
}
.alert h2 {
	color: white !important;
}

.roadmap-section {
	border: 0.1rem solid #333;
	border-radius: 0.5rem;
	background-color: #333;
	color: white;
	width: 100%;
	height: auto;
	transform: scale(0.9);
	margin-bottom: 0.5rem;
}
.roadmap-section:hover {
	transform: scale(0.92);
}
.roadmap-section-active {
	border: 0.1rem solid #333;
	border-radius: 0.5rem;
	background-color: #333;
	color: white;
	width: 100%;
	height: auto;
	transform: scale(1.0);
	margin-bottom: 0.5rem;
}
.roadmap-section-active:hover {
	transform: scale(1.02);
}

@media (max-width: 750px) {
	html {
		font-size: 12px;
	}
	.header-navigation-menu ul {
		display: block;
	}
	.header-navigation-menu li {
		font-size: 1.5rem; 
	}
	video {
		width: 15rem;
	}
}